<app-navbar-comp></app-navbar-comp>
<div class="row #a2bded">
    <div class="col s8 offset-s2">
      <div class="card blue-green darken-1">
        <div class="card-content black-text blue">
          <span class="card-title">Question 1</span>
          <p>What is the proper way to output text in Java?</p>
        </div>
        <div class="card-action">
          <ul class="collection answer">
              <div class="collection">
                  <a href="" class="collection-item black-text">Output</a>
                  <a href="" class="collection-item black-text">System.out.print</a>
                  <a href="" class="collection-item black-text">Print.it</a>
                  <a href="" class="collection-item black-text">Write.To.Screen</a>
                </div>
          </ul>
        </div>
  
    </div>
  </div>
  <div class="row">
    <div class="col s8 offset-s2">
      <div class="card blue-green darken-1">
        <div class="card-content black-text blue">
          <span class="card-title">Question 2</span>
          <p>What are programs written on?</p>
        </div>
        <div class="card-action">
            <ul class="collection answer">
                <div class="collection">
                    <a href="" class="collection-item black-text">A Book</a>
                    <a href="" class="collection-item black-text">A Computer</a>
                    <a href="" class="collection-item black-text">A Television</a>
                    <a href="" class="collection-item black-text">A Desk</a>
                  </div>
            </ul>
          </div>
      </div>
  
    </div>
  </div>
  <div class="row">
    <div class="col s8 offset-s2">
      <div class="card blue-green darken-1">
        <div class="card-content black-text blue">
          <span class="card-title">Question 3</span>
          <p>What method must be in a Java program?</p>
        </div>
        <div class="card-action">
            <ul class="collection answer">
                <div class="collection">
                    <a href="" class="collection-item black-text">Main</a>
                    <a href="" class="collection-item black-text">Last</a>
                    <a href="" class="collection-item black-text">First</a>
                    <a href="" class="collection-item black-text">New</a>
                  </div>
            </ul>
          </div>
      </div>
  
    </div>
  </div>
  <div class="row">
    <div class="col s8 offset-s2">
      <div class="card blue-green darken-1">
        <div class="card-content black-text blue">
          <span class="card-title">Question 4</span>
          <p>How many methods can be written in a Java Program?</p>
        </div>
        <div class="card-action">
            <ul class="collection answer">
                <div class="collection">
                    <a href="" class="collection-item black-text">1</a>
                    <a href="" class="collection-item black-text">2</a>
                    <a href="" class="collection-item black-text">3</a>
                    <a href="" class="collection-item black-text">Unlimited</a>
                  </div>
            </ul>
          </div>
      </div>
  
    </div>
  </div>

  <button class="btn-large btn-submit blue" type="submit">Proceed to Part 2</button>
